.nav__list-ul {
  list-style-type: none;
}

body {
  width: 400px;
  margin: 0 auto;
}

.form__list {
  display: flex;
  flex-direction: column;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list label {
  display: flex;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}
.nav__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task {
  background-color: rgb(55, 156, 97);
}
.task-content {
  display: flex;
  justify-content: space-between;
}
.body {
  background-color: #3f3535;
}
.task-done {
  text-decoration: line-through;
}

.close-btn {
  cursor: pointer;
}
